<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>im_face_086</key>
	<string>[:-))]</string>
	<key>im_face_087</key>
	<string>[:-S]</string>
	<key>im_face_088</key>
	<string>[:-)]</string>
	<key>im_face_090</key>
	<string>[:-/]</string>
	<key>im_face_092</key>
	<string>[:\&quot;-)]</string>
	<key>im_face_093</key>
	<string>[:-*]</string>
	<key>im_face_094</key>
	<string>[:-O]</string>
	<key>im_face_095</key>
	<string>[&gt;:-)]</string>
	<key>im_face_096</key>
	<string>[B)]</string>
	<key>im_face_097</key>
	<string>[:-(]</string>
	<key>im_face_098</key>
	<string>[/:-)]</string>
	<key>im_face_099</key>
	<string>[:,-(]</string>
	<key>im_face_100</key>
	<string>[:-D]</string>
	<key>im_face_101</key>
	<string>[:-|]</string>
	<key>im_face_102</key>
	<string>[O:-)]</string>
	<key>im_face_103</key>
	<string>[|-O]</string>
	<key>im_face_104</key>
	<string>[:-B]</string>
	<key>im_face_105</key>
	<string>[8-)]</string>
	<key>im_face_106</key>
	<string>[:-SS]</string>
	<key>im_face_107</key>
	<string>[:-?]</string>
	<key>im_face_108</key>
	<string>[:-@]</string>
	<key>im_face_109</key>
	<string>[*-:-)]</string>
	<key>im_face_110</key>
	<string>[~o)]</string>
	<key>im_face_111</key>
	<string>[)-|]</string>
	<key>im_face_112</key>
	<string>[(L)]</string>
	<key>im_face_113</key>
	<string>[@):-]</string>
</dict>
</plist>
